if SHIELD_DRAENOG_LEFT

config ZMK_KEYBOARD_NAME
    default "Draenog"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DRAENOG_LEFT || SHIELD_DRAENOG_RIGHT

config ZMK_SPLIT
    default y

